<div class="container pt-5 pb-5">
    <h5 class="mb-0 d-flex align-items-center">
        <span class="material-symbols-rounded filled fs-1 me-3">account_circle</span>
        Crear cuenta
    </h5>
    <hr />
    <div class="card-body">
        <form class="row g-3" [formGroup]="registerForm" (ngSubmit)="createUser()" novalidate="">
            <!-- Todo lo demás que va dentro del form -->
            <div class="col-12 col-sm-6">
                <label class="form-label">Nombre: </label>
                <input class="form-control" type="text" formControlName="name" />
            </div>
            <div class="col-12 col-sm-6">
                <label class="form-label">Teléfono: </label>
                <input class="form-control" type="text" formControlName="phone" />
            </div>

            <div class="col-12 col-sm-6">
                <label class="form-label">Ciudad: </label>
                <select class="form-select" formControlName="city">
                    <option value="">Seleccione una ciudad</option>
                    @for (city of cities; track city) {
                    <option [value]="city">{{ city }}</option>
                    }
                </select>
            </div>

            <div class="col-12 col-sm-6">
                <label class="form-label">Foto de perfil: </label>
                <input class="form-control" type="file" formControlName="photoUrl" (change)="onFileChange($event)" />
            </div>

            <div class="col-12 col-sm-6">
                <label class="form-label">Fecha de nacimiento: </label>
                <input class="form-control" type="date" formControlName="dateBirth" />
            </div>

            <div class="col-12 col-sm-6">
                <label class="form-label">Email: </label>
                <input class="form-control" type="email" formControlName="email" />
            </div>

            <div class="col-12 col-sm-6">
                <label class="form-label">Contraseña: </label>
                <input class="form-control" type="password" formControlName="password" />
            </div>

            <div class="col-12 col-sm-6">
                <label class="form-label">Repetir contraseña: </label>
                <input class="form-control" type="password" formControlName="repeatPassword" />
            </div>
            @if (registerForm.hasError('passwordsMismatch')) {
            <p>Las contraseñas no coinciden</p>
            }

            <button type="submit" [disabled]="registerForm.invalid">Registrarse</button>
        </form>
    </div>
</div>