.form-control.ng-dirty {
  padding-right: 2rem;
  background-repeat: no-repeat;
  background-position: right 0.75rem center;
  background-size: 1rem;
  transition: border-color .2s ease, box-shadow .2s ease;
}

.form-control.ng-invalid.ng-dirty {
  border-color: var(--bs-form-invalid-border-color);
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' fill='none' stroke='%23dc3545' viewBox='0 0 12 12'%3e%3ccircle cx='6' cy='6' r='4.5'/%3e%3cpath d='M5.8 3.6h.4L6 6.5z'/%3e%3ccircle cx='6' cy='8.2' r='.6' fill='%23dc3545'/%3e%3c/svg%3e");
}

.form-control.ng-valid.ng-dirty {
  border-color: var(--bs-form-valid-border-color);
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' fill='%23198754' viewBox='0 0 8 8'%3e%3cpath d='M2.3 6.7.6 4.5c-.4-1 .5-1.4 1.1-.8l1.1 1.4 3.4-3.8c.6-.6 1.6-.3 1.2.7l-4 4.6c-.4.5-.8.4-1.1.1z'/%3e%3c/svg%3e");
}